name: check for new releases boost source files

on:
  workflow_dispatch:
    inputs:
      release_tool:
        description: "Use action over cli?"
        required: true
        type: boolean
        default: false
      skip_rerun:
        description: "Skip rerun?"
        required: true
        type: boolean
        default: true
      retries:
        description: "Number of rerun retries"
        required: true
        default: "1"
        type: choice
        options: ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
      update_latest_release:
        description: "Update latest release?"
        required: true
        type: boolean
        default: false
  # schedule:
  #   - cron: "*/30 */1 * * *"

permissions: {}

jobs:
  skip_duplicate_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5.3.1
        with:
          concurrent_skipping: "always"
          cancel_others: "false"
          skip_after_successful_duplicate: false
          do_not_skip: ""

  check_release:
    if: ${{ needs.skip_duplicate_job.outputs.should_skip != 'true' }}
    needs: skip_duplicate_job
    outputs:
      continue_build: ${{ steps.continue_build.outputs.continue_build }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: "Check for latest boost tags"
    env:
      continue_build: "no"
      GH_TOKEN: ${{ github.token }}
      update_latest_release: ${{ inputs.update_latest_release }}

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Docker - Bootstrap the boost files
        id: boost_version_info
        uses: userdocs/actions/boost@e74d179578ddcf1cd07cd9eefd0915f33a3bd600 # v1.0.1
        with:
          boost_version: ""
          download_archive: false
          extract_archive: false

      - name: Get latest boostorg/boost tag
        env:
          BOOST_VERSION: ${{ steps.boost_version_info.outputs.BOOST_VERSION }}
        run: echo "upstream_boost_version=${BOOST_VERSION}" >> $GITHUB_ENV

      - name: Get latest userdocs/boost tag
        run: |
          local_boost_tag="$(git ls-remote -q -t --refs "https://github.com/userdocs/boost" | awk '{sub("refs/tags/", "");sub("(.*)(rc|alpha|beta|-bgl)(.*)", ""); print $2 }' | awk '!/^$/' | sort -rV | head -n1)"
          echo "local_boost_tag=${local_boost_tag/boost-}" >> $GITHUB_ENV

      - name: Test values - latest upstream vs local tags
        id: continue_build
        run: |
          ver() {
            local test_array
            read -ra test_array < <(printf "%s" "${@//./ }")
            printf "%d%03d%03d%03d" "${test_array[@]}"
          }

          if [[ "$(ver "${upstream_boost_version}")" -gt "$(ver "${local_boost_tag}")" ]]; then
            printf "%-14s latest-boost:%-10s mirror-boost:%-10s %s\n" "$iray" "${upstream_boost_version}" "${local_boost_tag}" "< New version available - workflow will be triggered"
            echo "continue_build=yes" >> $GITHUB_ENV
          else
            printf "%-14s latest-boost:%-10s mirror-boost:%-10s\n" "$iray" "${upstream_boost_version}" "${local_boost_tag}"
          fi

          if [[ "${update_latest_release}" == 'true' ]]; then
            echo "continue_build=yes" >> $GITHUB_ENV
          fi

          echo "continue_build=${continue_build}" >> $GITHUB_OUTPUT

      - name: Download assets for boost-${{ env.upstream_boost_version }}
        if: env.continue_build == 'yes'
        run: |
          boost_version="${upstream_boost_version}"

          if curl -sfLI "https://archives.boost.io/release/${boost_version}/source/boost_${boost_version//./_}.tar.gz" &> /dev/null; then
            boost_url="https://archives.boost.io/release/${boost_version}"
          else
            printf "%s\n" "archives.boost.io URL not working for ${boost_version}"
            exit 1
          fi

          mkdir -p assets

          curl -sLZ ${boost_url}/boost_${boost_version//./_}.7z -o assets/boost_${boost_version//./_}.7z \
            ${boost_url}/boost_${boost_version//./_}.7z.json -o assets/boost_${boost_version//./_}.7z.json \
            ${boost_url}/boost_${boost_version//./_}.tar.bz2 -o assets/boost_${boost_version//./_}.tar.bz2 \
            ${boost_url}/boost_${boost_version//./_}.tar.bz2.json -o assets/boost_${boost_version//./_}.tar.bz2.json \
            ${boost_url}/boost_${boost_version//./_}.tar.gz -o assets/boost_${boost_version//./_}.tar.gz \
            ${boost_url}/boost_${boost_version//./_}.tar.gz.json -o assets/boost_${boost_version//./_}.tar.gz.json \
            ${boost_url}/boost_${boost_version//./_}.zip -o assets/boost_${boost_version//./_}.zip \
            ${boost_url}/boost_${boost_version//./_}.zip.json -o assets/boost_${boost_version//./_}.zip.json

      - name: Create release for ${{ env.upstream_boost_version }} using gh-cli
        if: env.continue_build == 'yes' && inputs.release_tool == '0'
        run: |
          if ! gh release view "boost-${upstream_boost_version}" &>/dev/null; then
              gh release create "boost-${upstream_boost_version}" ./assets/* --title "boost-${upstream_boost_version}" --notes "Boost ${upstream_boost_version} release mirror"
          else
              gh release upload "boost-${upstream_boost_version}" ./assets/* --clobber
          fi

      - name: Create release for ${{ env.upstream_boost_version }} using ncipollo/release-action
        if: env.continue_build == inputs.release_tool == '1'
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1.18.0
        with:
          prerelease: false
          artifacts: ./assets/*
          replacesArtifacts: true
          tag: "boost-${{ env.upstream_boost_version }}"
          name: "boost-${{ env.upstream_boost_version }}"
          body: "Boost ${{ env.upstream_boost_version }} release mirror"
          allowUpdates: true
          token: ${{ github.token }}

  ci-auto-rerun-failed-jobs:
    if: failure() && (github.event.inputs.skip_rerun || 'false') == 'false'
    needs: [check_release]
    concurrency:
      group: ci-auto-rerun-failed-jobs
      cancel-in-progress: true
    permissions:
      actions: write
    runs-on: ubuntu-24.04-arm
    env:
      GH_TOKEN: "${{ secrets.AUTO_RERUN || github.token }}"
      github_repo: "" # To use ci-auto-rerun-failed-jobs.yml hosted in a remote repository else default to the current repository. Requires PAT token AUTO_RERUN
      retries: ${{ github.event.inputs.retries || '1' }}
      distinct_id: ${{ github.event.inputs.distinct_id }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: ci-auto-rerun-failed-jobs via ${{ env.github_repo || github.repository }}
        run: >
          gh workflow run ci-auto-rerun-failed-jobs-action.yml
          --repo "${github_repo:-$GITHUB_REPOSITORY}"
          -f github_repo=${GITHUB_REPOSITORY}
          -f run_id=${GITHUB_RUN_ID}
          -f attempts=${GITHUB_RUN_ATTEMPT}
          -f retries=${retries}
          -f distinct_id=${distinct_id}
